@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.btn-custom {
  background-color: #fb2576;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
}






.input--cat:hover{
  height: 2em;
  background-color: #3F0071;
  font-size: xx-large;
  color: #fff;
  text-align: center;
}